# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Prisma
/backend/prisma/migrations/
/backend/prisma/dev.db
/backend/prisma/dev.db-journal

# Uploads & Temp
/backend/uploads/*
!/backend/uploads/.gitkeep
/tmp/
.tmp/
